@import "/utils/index";

:root {
  font-size: 16px !important;
}

.md-text--theme-secondary {
  color: $primary-color !important;
}

i.md-icon[class*="wtf-"] {
  font-size: 18px;
}

.cenvi {
  #nprogress .bar {
    z-index: 999999;
  }

  @import "/common/grid";
  @import "/common/typography";
  @import "/common/buttons";
  @import "/common/field";
  @import "/common/map-container";
  @import "/common/layout";
  @import "/common/noRecordsFound";
  @import "/common/section";
  @import "/common/snackbar";
  @import "/common/avatar";
  @import "/common/table";
  @import "/common/rangeslider";
  @import "/common/datepicker";
  @import "/common/dropzone";
  @import "/common/statusPill";
  @import "/common/tags";
  @import "/common/rcToolTip";
  @import "/common/onTheFly";
  @import "/common/iframeViewer";
  @import "/common/dialog/index";
  @import "/common/dbContainer/index";
  @import "/common/skeletons/index";
}
