@import '../utils/index';

.page-edit-admin-shapefile {

	.col-preview {
		.iField {
			height: 100%;

			> .iField_label {
				margin-bottom: 1rem;
			}

			> .col-map {
				height: 100%;
			}

			.leaflet-container {
				height: 100%;
			}
		}
	}

	.col-uploadedDetails {
		flex-direction: column;
	}
}